<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Janym</h5>
  
          <p>
            This website is dedicated to love
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
  
          <ul class="list-unstyled">
            <li>
              <p class="text-dark"><i class="fa fa-home mr-3"></i> Address: Astana, Mangilik el, C2</p>
            </li>
            <li>
              <p class="text-dark"><i class="fa fa-envelope mr-3"></i> Email: janym@love.com</p>
            </li>
            <li>
              <p class="text-dark"><i class="fa fa-phone mr-3"></i> Phone: +1 234 567 8901</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3 bg-dark text-light">
      © 2023 Janym
    </div>
  </footer>
  