<div class="containter mt-auto" id="GOfooter">
  <footer class="bg-light text-center text-lg-start">
    <div class="container pt-4 pb-0">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Janym</h5>

          <p>This website is dedicated to love</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Link</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://github.com/M1ion/Janym" class="text-dark"
                >Visit our GitHub</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <h5 class="text-uppercase">Contact</h5>

          <ul class="list-unstyled">
            <li>
              <p class="text-dark">
                <i class="fa fa-home mr-3"></i> Address: Astana, Mangilik el, C2
              </p>
              <p class="text-dark">
                <i class="fa fa-envelope mr-3"></i> Email: janymlov3@gmail.com
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="text-center p-3 bg-dark text-light">© 2023 Janym</div>
  </footer>
</div>
