<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="MainPageLogo">
    <img src="../images/logo.png" class="LogoProp mb-2" alt="logo" />
    <a class="navbar-brand fs-2 me-5 ps-2" href="/">Janym</a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse d-flex justify-content-between"
    id="navbarNav"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-info fs-6" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info fs-6" href="/couple">Couple</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info fs-6" href="/event">Events</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if (username) { %>
      <li class="nav-item">
        <a
          class="nav-link text-info border border-info rounded pe-5 ps-5"
          href="/auth/sign_out"
          >Log out</a
        >
      </li>
      <% } else { %>
      <li class="nav-item">
        <a
          class="nav-link text-info border border-info rounded pe-5 ps-5"
          href="/login"
          >Log in</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white bg-info rounded pe-5 ps-5"
          href="/register"
          >Register</a
        >
      </li>
      <% } %>
    </ul>
  </div>
</nav>
